@charset "UTF-8";

body{
    margin: 0;
    padding:0;
}
.auto-complete{
    position: relative;
    margin: 10px;
    font-family: "Microsoft Yahei";
    min-width: 360px;
}
.auto-complete input {
    outline: none;
}

.auto-complete input, .select-selection-selected{
    width: 350px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #C2C2C2;
    padding: 0 0 0 10px;
    border-radius: 2px;
}
.select-input-default,.select-selection-selected {
    border: 1px solid #dddddd;
}
.select-input-checked {
    border:solid 1px #94c0ed;
}
.select-selection-selected {
    color: #333333;
    cursor: pointer;
    position: absolute;
    background: #fff;
}
.auto-complete input.showArrow{
    background: url(../style/images/sl-sel-arrow.png) no-repeat 98% -25px;
}
.select-selection-selected.showArrow{
    background: url(../style/images/sl-sel-arrow.png) #fff no-repeat 98% 12px;
}
.options-holder{
    position: absolute;
    width: auto;
    display: none;
    border: 1px solid #dddddd;
    float: left;
    height:164px;
    overflow: auto;
}
.options-select-tip{
    padding: 0 0 0 10px;
    color: #999999;
    font-size: 14px;
}
.options{
    float: left;
    clear: left;
    width: 350px;
    height: 24px;
    line-height: 24px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    font-size: 14px;
    color: #333333;
    padding: 0 0 0 10px;
}
.options.hover, .options.selected{
    background: #e0e0e0;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
}
.placeholder {
    color: #C2C2C2;
}
